

.login-container {
    width: 300px;
    height: auto;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ffea00;
    border-radius: 5px;
    margin-top: 12%;
    margin-left: 65%;
  }

  #lg {
    color: #ffb300;
  }

  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ffb300;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .button-group1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 2.6cm;
  }
  
  .button-group a:hover{
    color: #ffbb00;
  }

  .login-button,
  .forgot-button {
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .register-group {
    text-align: center;
  }
  
  .register-group a {
    color: #ffd000;
    text-decoration: none;
  }
  
  .register-group a:hover {
    text-decoration: underline;
  }
  
  label {
    color: #ffcc00;
  }
.fullview
{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw; /* Set width to full viewport width */
    height: 100vh;
    margin-top: -5cm; /* Set height to full viewport height */
 
}